---
import { Icon } from 'astro-icon/components'
import { skillIcons } from '../../lib/icons.js'

const { skill } = Astro.props
const icon = skillIcons[skill.toLowerCase()]
---

<div class="flex items-center gap-1 p-2 rounded border border-orange-200 bg-orange-50 text-orange-700 hover:bg-orange-100 transition-colors text-sm dark:bg-orange-950 dark:border-orange-700 dark:text-orange-300 dark:hover:bg-orange-900">
  {icon && <Icon name={icon} class="w-4 h-4" />}
  {skill}
</div>
