---
const { title } = Astro.props
---

<h2 class="uppercase font-serif text-sm font-semibold mb-3 text-stone-600 dark:text-stone-400 tracking-widest border-b border-stone-200 dark:border-stone-700 pb-1">
  {title}
</h2>
