---
import { Icon } from 'astro-icon/components'
import Markdown from '../../Markdown.astro'

const { content } = Astro.props
---

<div class="flex gap-2">
  <div class="mb-auto">
    <Icon name="carbon:software-resource-cluster" class="text-violet-500 dark:text-violet-400 mt-1" />
  </div>
  <Markdown content={content} />
</div>
